*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/common/build/
/data/build/
/utils/build/
/core/build/
/feature/build/
/feature/docmanager/build/
/feature/group/build/
/feature/docs/build/